@{
    ViewBag.Title = "比賽成績公告";
    ViewBag.BodyClass = "Result";
    ViewBag.ContentClass ="text-left ind pb-24";
}

<h4 class="title text-left ml-72">
    <span class="underline">xxxx活動報名開始</span>
    <small class="block font-sm text-success mt-12">2017/10/23</small>
</h4>

<article class="editor ml-72">
    @* 活動內容(編輯器) *@
    活動內容說明
</article>

<hr class="mb-12">

<a href="~/Result" class="back pull-right ti-arrow-left">回列表</a>