@{
    ViewBag.Title = "檔案下載";
    ViewBag.BodyClass = "Download";
    ViewBag.ContentClass ="ind";
}

<h4 class="title text-left ml-72"><span class="underline">@ViewBag.Title</span></h4>

<form>

    <nav class="list text-left ml-72">
        @* 直接連檔案 *@
        <a href="xxx.doc" class="list-item" target="new">
            <span class="date">2017/10/23</span>
            <span class="rest">xxx活動報名表下載 <i class="ti-download ml-12"></i></span>
        </a>
        <a href="bbb.doc" class="list-item" target="new">
            <span class="date">2017/10/23</span>
            <span class="rest">bbb活動報名表下載 <i class="ti-download ml-12"></i></span>
        </a>
         <a href="ccc.doc" class="list-item" target="new">
            <span class="date">2017/10/23</span>
            <span class="rest">ccc活動報名表下載 <i class="ti-download ml-12"></i></span>
        </a>
    </nav>

    <nav class="pager py-16 pr-32">
        <span class="pull-right">
            1/2頁 11筆
        </span>

        <a disabled href="javascript:;"
           onclick=""
           class="btn ti-angle-double-left"></a>
        <a disabled href="javascript:;"
           onclick=""
           class="btn ti-angle-left"></a>
        <a href="javascript:;"
           onclick=""
           class="btn ti-angle-right"></a>
        <a href="javascript:;"
           onclick=""
           class="btn ti-angle-double-right"></a>

        <label for="numPage" class="ml-16">
            第
            <input id="numPage" name="page" class="form-element inline text-center" type="number" min="1" value="1">
            頁
        </label>
    </nav>
</form><!-- content //-->