@{
    ViewBag.Title = "本會簡介";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.ContentClass ="text-left p-32";
}

<h4 class="title"><span class="underline">@ViewBag.Title</span></h4>

<div class="editor">
    @* 這裡是編輯器內容 *@
    @Html.Raw(ViewData["Content"])
    本委員會依據桃園市體育會提倡本市體育，專以推動本市籃球運動，鍛鍊國民體魄，增進國民健康，發揚民族精神及研究體育學術為宗旨。
</div>