@{
    ViewBag.Title = "本會簡介";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.ContentClass ="text-left p-32";
}

<h4 class="title"><span class="underline">@ViewBag.Title</span></h4>

<div class="editor">
    @* 這裡是編輯器內容 *@
    @Html.Raw(ViewData["Content"])
</div>