
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "本會簡介";
    ViewBag.subnav = "General";
    ViewBag.subnav2 = "AboutUs";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>一般頁面管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<form action="" class="form-list">
    <div class="alert-warning mb-16">
        <strong>編輯器注意事項:</strong><br>
        從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
        編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
        檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br />
        youtube 可勾選「用自適應縮放模式」
    </div>
    <textarea id="art" class="form-element" maxlength="512" name="contenttext" placeholder="請輸入最新消息內容..." rows="15">
    </textarea>

    <footer class="submit-bar clear mt-24">
        <button id="submitBtn" type="button" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href = 'ResultList'">
            回列表
        </button>
    </footer>
</form>

<script>
    $(function () {
        //if ($('[type="date"]').prop('type') != 'date') {
        //     不支援date等類型的瀏覽器，類型是date 但是property不是'date'。
        //     在這裡放入其他的datetime picker，例如 jquery ui 的datetime picker
        //    $('[type="date"]').datepicker();
        //}
        //alert($('[type="date"]').prop('type'));

        //alert(CKEDITOR.version);
        CKFinder.setupCKEditor(null, { basePath: '/ckfinder/', skin: 'v1' });
        CKEDITOR.replace('contenttext');
    })
</script>