<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <connectionStrings>
    <!--此項目主要提供給Code First方式使用-->
    <!--<add name="EnergyNDB" connectionString="metadata=res://*/Entities.EnergyN.csdl|res://*/Entities.EnergyN.ssdl|res://*/Entities.EnergyN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.44;initial catalog=EnergyN;user id=test;password=z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBEnergy" connectionString="metadata=res://*/Entities.EnergyDB.csdl|res://*/Entities.EnergyDB.ssdl|res://*/Entities.EnergyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.44;initial catalog=EnergyN;user id=test;password=z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBEnergy" connectionString="metadata=res://*/Entities.EnergyDB.csdl|res://*/Entities.EnergyDB.ssdl|res://*/Entities.EnergyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EnergyN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DBEnergy" connectionString="metadata=res://*/Entities.EnergyDB.csdl|res://*/Entities.EnergyDB.ssdl|res://*/Entities.EnergyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.245;initial catalog=EnergyN;user id=webrolequery;password=working@onsqllive~;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--預設以及支援語系-->
    <add key="DefaultLanguage" value="zh-TW" />
    <add key="SupportLanguage" value="zh-TW,en-US,zh-CsessionStateN" />
    <!--列表資料內文顯示字數 長度90-->
    <add key="DefaultContentWordLength90" value="90" />
    <!--列表資料內文顯示字數 長度284-->
    <add key="DefaultPageSize" value="10" />
    <add key="DefaultContentWordLength284" value="284" />
    
    <!--三竹簡訊相關訊息設定-->
    <!--三竹簡訊帳號-->
    <add key="SMSUser" value="" />
    <!--三竹簡訊密碼-->
    <add key="SMSPassword" value="" />
    <!--Sql Connection連線字串-->
    <add key="SMSconnectString" value="" />
    <!--Response Server網址-->
    <add key="SMSResponse" value="http://webmsgtest.demo.fly.idv.tw/home/GetResponse" />
    <!--編碼模式-->
    <add key="SMSEncoding" value="Big5" />
    <!--三竹負責回傳至Response的IP位址-->
    <add key="SMSResponseIP" value="" />
 
    <!--HiNetFax相關訊息設定-->
    <!--為HN後8碼-->
    <add key="FaxUser" value="" />
    <!--編碼模式-->
    <add key="FaxCode" value="BIG5" />
    <!--接收Email-->
    <add key="FaxReplyEmail" value="" />
    <!--傳真寄件公司-->
    <add key="FaxCompany" value="" />
    <!--傳真號碼 e.g.02-23412345-->
    <add key="FaxNo" value="" />
    <!--(1=不要回報,2=只回報失敗,3=全部回報,4 = 批次回報)-->
    <add key="FaxReport" value="3" />
    <!--HiNetFax SFTP IP位址-->
    <add key="SFTPConnect" value="" />
    <!--SFTP Port-->
    <add key="SFTPPort" value="22" />
    
    <!--Email Logo所需的網域-->
    <add key="WebUrl" value="emiswebs.demo.fly.idv.tw" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="56320" executionTimeout="9999" />

    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="120" />

    <!--<sessionState mode="InProc" cookieless="AutoDetect" timeout="60" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />-->
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>

    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
  </httpProtocol>
  </system.webServer>
  <botDetect helpLinkEnabled="true" helpLinkMode="image" />

</configuration>