
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.ContentClass ="ind text-left pr-32";
}

<h4 class="title ml-72"><span class="underline">@ViewBag.Title</span></h4>

<ul class="contact-list list-unstyled ml-72">
    <li class="ti-mobile" title="打電話給我們"><a href="tel:03-3785269">03-3785269</a></li>
    <li class="ti-printer" title="傳真給我們">03-3787268</li>
    <li class="ti-email" title="E-mail給我們"><a href="mailto:tybatybabasketball@gmail.com">tybatybabasketball@gmail.com</a></li>
    <li class="ti-comment-alt" title="線上聯絡我們"><a href="http://m.me/tyba99" title="FB Messenger" target="new">@@tyba99</a></li>
</ul>