
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Breadcrumb = "聯絡我們"; @* 最後層的麵包屑 *@
}

<h2 class="title underline wrap">@ViewBag.Breadcrumb</h2>

<div class="wrap zoom editor">

</div>
