
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.ContentClass ="ind text-left pr-32";
}

<h4 class="title ml-72"><span class="underline">@ViewBag.Title</span></h4>

<ul class="contact-list list-unstyled ml-72">
    <li class="ti-mobile">0939-326-040</li>
    <li class="ti-email"><a href="mailto:service@tyba.tw">service@tyba.tw</a></li>
    <li class="ti-comment-alt"><a href="http://m.me/tyba99" title="FB Messenger">@@tyba99</a></li>
</ul>