
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.ContentClass ="ind text-left pr-32";
}

<h4 class="title ml-72"><span class="underline">@ViewBag.Title</span></h4>

<ul class="contact-list list-unstyled ml-72">
    <li class="ti-mobile"><a href="tel:033783358">03-3783358</a></li>
    <li class="ti-email"><a href="mailto:tybatybabasketball@gmail.com">tybatybabasketball@gmail.com</a></li>
    <li class="ti-comment-alt"><a href="http://m.me/tyba99" title="FB Messenger" target="new">@@tyba99</a></li>
</ul>