@using OutWeb.Models.FrontEnd.HomeMultipleModels
@model HomeFrontListDataModel

@{
    ViewBag.Title = "首頁";
}

@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script src="~/Content/js/waterfall.js"></script>
    <script>
        // slider 輪播效果
        var swiperBanner = new Swiper(document.getElementById('banner'), {
            pagination: '.swiper-pager',
            paginationClickable: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            speed: 1000,
            // grabCursor: true,
            effect: 'fade'
        });

        $(window).load(function() {
            $('.waterfall').waterfall({
                margin: 8,
                addfooter: false
            });
        });
    </script>
}

<section id="banner" class="swiper-container">
    <main class="swiper-wrapper">
        <div class="swiper-slide"><img src="~/Content/images/index/banner.jpg" alt="Banner1"></div>
    </main>
    <div class="swiper-pager"></div>
</section>

<section class="wrap cells main">
    <aside class="cell vedio">
        <h4 class="title"><span class="underline">FB影片</span></h4>
        <div class="video-contain">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftyba99%2Fvideos%2F1600943106628525%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
    </aside>

    <article class="cell news">
        <h4 class="title"><span class="underline">最新消息</span></h4>

        @* 套程式 - 最多5則 *@
        <nav class="news-list">
            @foreach (var data in Model.News.Result.Data)
            {
                string newsRedirectUrl = string.Empty;
                string urlBlank = string.Empty;
                if (string.IsNullOrEmpty(data.NewsUrl))
                {
                    newsRedirectUrl = Url.Content("~/News/Content?ID=" + data.ID);
                }
                else
                {
                    newsRedirectUrl = data.NewsUrl;
                    urlBlank = "_blank";
                }

                <a target="@urlBlank" href="@newsRedirectUrl" class="news-link">
                    <span class="date">@data.PublishDateStr</span>
                    @data.Title
                </a>
            }
        </nav>

        @* <a href="~/News/Content" class="news-link">
               <span class="date">2017/07/18</span>
               【線上報名】106年產業公用設備節約能源研習課程節約能源研習課程節約能源研習課程節約能源研習課程
           </a>*@
        <footer class="text-right"><a href="~/News" class="more hover-secondary">更多訊息</a></footer>
    </article>
</section>

<section class="gallery wrap">
    <h4 class="title underline">活動花絮</h4>
    <main class="waterfall">
        <a title="桃園市全國運動會代表隊vsTSBA大桃園超級籃球聯隊" href="https://www.facebook.com/media/set/?set=a.1495305843858919.1073741831.768730469849797&type=1&l=2a2df100b4" class="pin" target="new">
            <img src="~/Content/images/gallery/photo1.jpg" alt="桃園市全國運動會代表隊vsTSBA大桃園超級籃球聯隊">
            <h5>桃園市全國運動會代表隊vsTSBA大桃園超級籃球聯隊</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo2.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="健行科技大學vsTSBA大桃園超級籃球聯隊" href="https://www.facebook.com/media/set/?set=a.1495292993860204.1073741830.768730469849797&type=1&l=c7cd72a341" class="pin" target="new">
            <img src="~/Content/images/gallery/photo3.jpg" alt="健行科技大學vsTSBA大桃園超級籃球聯隊">
            <h5>健行科技大學vsTSBA大桃園超級籃球聯隊</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo4.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo5.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo7.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo8.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo6.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
        <a title="相簿名稱" href="#" class="pin" target="new">
            <img src="~/Content/images/gallery/photo9.jpg" alt="相簿名稱">
            <h5>相簿名稱</h5>
        </a>
    </main>
    <footer><a class="btn more" href="https://www.facebook.com/pg/tyba99/photos/" target="new">看更多花絮</a></footer>
</section>