
@{
    ViewBag.Title = "RSS";
    ViewBag.Breadcrumb = "RSS"; @* 最後層的麵包屑 *@
}

<h2 class="wrap title underline mb-32">@ViewBag.Title</h2>

<article class="wrap text-left zoom">
    <h6 class="text-info">網頁更新日期：106-11-27</h6>

    <h4>一、什麼是RSS？</h4>
    <p>RSS的英文全稱是 Really Simple Syndication，是一種透過XML標準所制定的資料格式，可以將網頁內容抽取出來，使用者透過訂閱 RSS Feed配合RSS閱讀器，即可直接取得網站最即時的資訊，更賦予使用者隨選訂閱的功能。</p>
    <a href="~/Feed" class="btn warning ti-rss-alt mt-8" target="new">訂閱 [國內外新聞]</a>

    <h4>二、訂閱的方法： </h4>
    <p>訂閱的方法很簡單，可依個人的喜好，選擇使用『支援 RSS 的瀏覽器』或使用『RSS 閱讀器』，即可享受訊息自動送到您的RSS 閱讀器瀏覽的迅速便利。依不同的使用方式，分別說明如下：</p>
    <ol class="list-unstyled">
        <li>1. 支援 RSS 的瀏覽器如何訂閱：
            <ul class="ml-24  ">
                <li>在瀏覽器上，直接點選 RSS 圖示。</li>
                <li>依照瀏覽器指示操作即可。</li>
            </ul>
        </li>
        <li>2. RSS 閱讀器如何訂閱：
            <ul class="ml-24">
                <li>下載安裝您的 RSS Reader ( RSS 閱讀器)。</li>
                <li>在圖示上，按滑鼠右鍵，然後選擇「複製捷徑」；或是先連結RSS服務(另開視窗)後，複製網址列中的RSS服務網址路徑。</li>
                <li>將複製的 RSS 捷徑加到 RSS Reader 程式中。</li>
            </ul>
        </li>
    </ol>
    <h4>三、下載支援 RSS 的瀏覽器：</h4>
    <ol class="list-unstyled">
        <li><a href="http://moztw.org/" target="_blank">Firefox</a>(Freeware)</li>
        <li><a href="http://www.maxthon.com/" target="_blank">Maxthon</a>(Freeware)</li>
    </ol>
</article>

