
@{
    ViewBag.Title = "網站導覽";
    ViewBag.Breadcrumb = "網站導覽"; @* 最後層的麵包屑 *@
}

<h2 class="wrap title underline mb-32">@ViewBag.Title</h2>

<article class="wrap text-left">
    <p>
        本網站依無障礙網頁設計原則建置，網站的主要內容分為四大區塊：<br>
        <strong>1. 上方功能區塊</strong>、<strong>2. 主選單區塊</strong>、<strong>3. 中央內容區塊</strong>、<strong>4. 下方功能區塊</strong>。
    </p>

    <h6 class="text-info mt-24">本網站的快速鍵﹝Accesskey﹞設定如下：</h6>
    <ul class="list-unstyled">
        <li>Alt+U：上方功能區塊，包括回首頁、網站地圖、全站搜尋、字體選擇、主選單區等。</li>
        <li>Alt+M：主選單區塊，包括國內外新聞、線上課程、節能案例等。</li>
        <li>Alt+C：中央內容區塊，為本頁主要內容區。</li>
        <li>Alt+F：下方功能區塊</li>
        <li>Alt+S：全站搜尋。</li>
    </ul>

    <hr>

    <ol class="list-map root">

        <li>
            <strong><a href="~/News">國內外新聞</a></strong>
            <ol class="list-map">
                <li>
                    <a href="~/News/List?type=25">國內新聞</a>
                </li>
                <li>
                    <a href="~/News/List?type=25">國外新聞</a>
                </li>
            </ol>
        </li>

        <li>
            <strong><a href="~/Home/ERL">能源查核申報</a></strong>
            <ol class="list-map">
                <li>
                    <a href="http://emis.itri.org.tw/erl/" target="new">
                        進入申報網站
                        <i class="ti-new-window"></i>
                    </a>
                </li>
            </ol>
        </li>

        <li>
            <strong><a href="~/Home/EEIR">能效指標申報</a></strong>
            <ol class="list-map">
                <li>
                    <a href="http://eei.itri.org.tw/EEIR_User_Login/" target="new">
                        進入申報網站
                        <i class="ti-new-window"></i>
                    </a>
                </li>
            </ol>
        </li>

        <li>
            <strong><a href="~/Course">線上課程</a></strong>
            <ol class="list-map">
                <li>
                    <a href="http://emiswebs.demo.fly.idv.tw/Course/Content?ID=1">能源管理與能源查核</a>
                </li>
                <li>
                    <a href="http://emiswebs.demo.fly.idv.tw/Course/Content?ID=2">鍋爐系統節能管理</a>
                </li>
            </ol>
        </li>

        <li>
            <strong><a href="~/Case">節能案例</a></strong>
            <ol class="list-map">
                <li>
                    <a href="~/Case/List">依行業別瀏覽</a>
                    @* <ol class="list-map">
                        <li>
                            空調系統
                            <ol class="list-map">
                                <li>
                                    <a href="http://emiswebs.demo.fly.idv.tw/Case/Content?ID=1">更換高效率冰水主機</a>
                                </li>
                            </ol>
                        </li>
                    </ol> *@
                </li>
                <li>
                    <a href="http://www.energypark.org.tw/topgoal/topgoal/list.asp" target="new" title="節約能源園區 另開新視窗">
                        節約能源績優獎
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a href="~/News/List?type=25" target="new" title="節能標竿網 另開新視窗">
                        節能標竿網
                        <i class="ti-new-window"></i>
                    </a>
                </li>
            </ol>
        </li>

        <li>
            <strong><a href="~/Book">出版品</a></strong>
            <ol class="list-map">
                <li>
                    <a href="~/Book/List?type=30">能源查核年報</a>
                </li>
                <li>
                    <a href="~/Book/List?type=32">技術手冊</a>
                </li>
                <li>
                    <a href="~/Book/List?type=33">節約能源要覽</a>
                </li>
            </ol>
        </li>

        <li>
            <strong>
                <a href="~/Train">研討會</a>
            </strong>
        </li>

        <li>
            <strong>
                <a href="~/Question">問卷填寫</a>
            </strong>
        </li>

        <li>
            <strong>
                <a href="~/Links">外部連結</a>
            </strong>
            <ol class="list-map">
                <li>
                    <a class="" href="http://www.moeaboe.gov.tw/" target="new">
                        經濟部能源局
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="https://www.youtube.com/user/moeaboe1/videos" target="new">
                        經濟部能源局 MOEABOE (Youtube)
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="http://www.energypark.org.tw/" target="new">
                        節約能源園區
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="https://www.tgpf.org.tw/" target="new">
                        財團法人台灣綠色生產力基金會
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="https://energy.csd.org.tw/" target="new">
                        能源管理學院
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a class="" href="http://www.csd.org.tw/" target="new">
                        財團法人中衛發展中心
                        <i class="ti-new-window"></i>
                    </a>
                </li>
            </ol>
        </li>

        <li>
            <strong>
                <a href="#search">搜尋專區</a>
            </strong>
        </li>

        <li>
            <strong>
                <a href="#U">頂端功能</a>
            </strong>
            <ol class="list-map">
                <li>
                    <a href="~/Home">回首頁</a>
                </li>
                <li>
                    <a href="~/Home/Sitemap">網站導覽</a>
                </li>
                <li>
                    <a href="~/Home/RSS">RSS</a>
                </li>
                <li>
                    <a href="#social">社群分享</a>
                </li>
            </ol>
        </li>

        <li>
            <strong>
                <a href="#F">底端訊息</a>
            </strong>
            <ol class="list-map">
                <li>
                    <a href="http://newwww.itri.org.tw/ip.asp" target="new" title="另開新視窗">
                        智權政策
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a href="http://newwww.itri.org.tw/law.asp" target="new" title="另開新視窗">
                        法律聲明
                        <i class="ti-new-window"></i>
                    </a>
                </li>
                <li>
                    <a href="/Home/Info">政府網站資料開放宣告</a>
                </li>
            </ol>
        </li>

    </ol>
</article>