@using OutWeb.Models.Manage.ActivityModels
@model ActivityDetailsModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "報名活動維護";
    ViewBag.subnav = "Applys";
    ViewBag.subnav2 = "Activity";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>線上報名管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

@using (Html.BeginForm("ActivitySave", "_SysAdm", FormMethod.Post, new { id = "frmActivity", @class = "form-list", @enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_ActivityDataPartial", Model);
}


