@using OutWeb.Models.Manage.TypeManageModels
@model TypeManageDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "出版品分類維護";
    ViewBag.subnav = "Books";
    ViewBag.subnav2 = "BookKind";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>出版品分類管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">新增</small></h3>

@using (Html.BeginForm("BookKindAdd", "_SysAdm", FormMethod.Post, new { id = "formManageBookKindData", @class = "form-list", enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_BookKindDataPartial", Model);
}