@using OutWeb.Models.Manage.ManageBookModels
@model BookDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "出版品維護";
    ViewBag.subnav = "Books";
    ViewBag.subnav2 = "Book";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>出版品維護</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">新增</small></h3>

@using (Html.BeginForm("BookAdd", "_SysAdm", FormMethod.Post, new { id = "formManageBookData", @class = "form-list" , enctype = "multipart/form-data" }))
{
    Html.RenderPartial("_BookDataPartial", Model);
}