@using OutWeb.Models.Manage.ManageCourseModels
@model CourseDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "線上課程";
    ViewBag.subnav = "General";
    ViewBag.subnav2 = "Course";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>一般頁面管理</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

@using (Html.BeginForm("CourseEdit", "_SysAdm", FormMethod.Post, new { id = "formManageCourseData", @class = "form-list" }))
{
    Html.RenderPartial("_CourseDataPartial", Model);
}