@using OutWeb.Models.Manage.QuestionnairesModels
@model QuestionDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "問卷填寫管理";
    ViewBag.subnav = "Question";
    ViewBag.subnav2 = "QuestionList";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

@using (Html.BeginForm("QuestionnairesEdit", "_SysAdm", FormMethod.Post, new { id = "formManageQuestionData", @class = "form-list" }))
{
    Html.RenderPartial("_QuestionnairesDataPartial", Model);
}