@using OutWeb.Models.Manage.TypeManageModels
@model TypeManageDetailsDataModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    if (Model.FilterTypeID.HasValue)
    {
        ViewBag.Crumb = "子分類管理";

    }
    else
    {
        ViewBag.Crumb = "主分類管理";
    }

    ViewBag.subnav = "TypeManage";
    //ViewBag.subnav2 = "ProductKind";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>分類管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@using (Html.BeginForm("TypeManageAdd", "_SysAdm", FormMethod.Post, new { id = "formManageTypeManageData", @class = "form-list" }))
{
    Html.RenderPartial("_TypeManageDataPartial", Model);
}