@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header {
    text-align: left !important; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #3b3b3b;
  font: 16px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(119, 213, 165, 0.35); }

a {
  color: #3b3b3b;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #7bac5e;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 28px;
  font-size: 1.75rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 85, 106, 0.1); }

p {
  margin: 0; }
  p + p {
    margin-top: 0.25rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted rgba(0, 85, 106, 0.1); }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled, .foot-officer {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

.form-element {
  display: block;
  width: 100%;
  padding: 0 0.25rem;
  line-height: 30px;
  min-height: 30px;
  color: #518d9d;
  background-color: #fff;
  font-size: 0.875rem;
  border: 1px solid #dbe4e4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .form-element:disabled, [readonly].form-element {
    background-color: #eee;
    opacity: 1; }
  .form-element:disabled {
    cursor: not-allowed; }
  .form-element:focus {
    outline: none;
    border-color: #77d5a5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(119, 213, 165, 0.35); }
  .form-inline .form-element, .inline.form-element {
    display: inline;
    width: auto; }
    .form-inline .form-element:not(:last-child), .inline.form-element:not(:last-child) {
      margin-right: 0.3rem; }
  .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-element::placeholder {
    color: #eaeaea;
    opacity: 1; }

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="%23eaeaea" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 3.0rem !important; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="false" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

input[type='number'] {
  padding-right: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.form-label {
  display: inline-block;
  font-weight: normal;
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px; }

legend {
  width: 100%; }

legend,
.form-label.block {
  margin-bottom: 0.5rem; }

fieldset {
  border-width: 0;
  padding: 0;
  min-width: 0;
  margin: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  resize: vertical;
  min-height: 6.5rem; }

output {
  display: inline-block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    line-height: 30px;
    height: 32px; } }
.clearfix::after, .wrap::after {
  content: "";
  display: table;
  clear: both; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.rest {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.full {
  max-width: 100%; }

.center, .wrap {
  margin-right: auto;
  margin-left: auto; }

.m-0 {
  margin: 0; }

.mt-0, .title {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, #menu ul {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4, .logo small {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4 {
  margin-bottom: 0.25rem; }

.ml-4, .copyright a:not(:first-of-type) {
  margin-left: 0.25rem; }

.mx-4, .link {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8 {
  margin-top: 0.5rem; }

.mr-8, .foot-contact img, .date {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12, .search-bar {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24 {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0, .btn.sm {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2, .date {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8, #menu .sub-nav a {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8, .title {
  padding-bottom: 0.5rem; }

.pl-8, .copyright a:not(:first-of-type) {
  padding-left: 0.5rem; }

.px-8, .date {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8, .btn.lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12, .btn.sm, .search-bar button, .case-list a, .link span {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12, #menu .sub-nav, .links {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16 {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32, .btn.lg {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, #footer, #menu .sub-nav, .news-link {
  text-align: left; }

.text-right, .foot-info {
  text-align: right; }

.text-center {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-sp {
  font-family: "Julius Sans One", sans-serif; }

.text-white, #menu li > a, .mobile-toggle, .goTop, .goTop:hover, .goTop:active, .news-link:hover .date, .news-link:active .date, .link, .link:hover, .link:active {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .quick-nav a:hover, .case-list a:hover, .quick-nav a:active, .case-list a:active {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, a[accesskey] {
  color: #00556a; }

.bg-primary {
  background-color: #00556a; }

.hover-primary {
  color: #00556a; }
  .hover-primary:hover, .hover-primary:active {
    color: #00181e; }

.text-secondary, #menu .sub-nav a:hover, #menu .sub-nav a:active, #menu .sub-nav a.current {
  color: #7bac5e; }

.bg-secondary, .mobile-toggle:hover, .mobile-toggle:active, .mobile-toggle.active {
  background-color: #7bac5e; }

.hover-secondary {
  color: #7bac5e; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #577d40; }

.text-muted {
  color: #edf4f6; }

.bg-muted {
  background-color: #edf4f6; }

.hover-muted {
  color: #edf4f6; }
  .hover-muted:hover, .hover-muted:active {
    color: #bad5dd; }

.text-success, #footer a:hover, #footer a:active {
  color: #77d5a5; }

.bg-success, .search-bar button:hover, .search-bar button:active {
  background-color: #77d5a5; }

.hover-success {
  color: #77d5a5; }
  .hover-success:hover, .hover-success:active {
    color: #3dc37e; }

.text-info {
  color: #30bebc; }

.bg-info, .news-link:hover .date, .news-link:active .date {
  background-color: #30bebc; }

.hover-info {
  color: #30bebc; }
  .hover-info:hover, .hover-info:active {
    color: #218180; }

.text-warning {
  color: #ff9c11; }

.bg-warning {
  background-color: #ff9c11; }

.hover-warning {
  color: #ff9c11; }
  .hover-warning:hover, .hover-warning:active {
    color: #c47200; }

.text-danger {
  color: #f82e46; }

.bg-danger {
  background-color: #f82e46; }

.hover-danger {
  color: #f82e46; }
  .hover-danger:hover, .hover-danger:active {
    color: #d2071f; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #86A1A7; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px; }
  @media (min-width: 64em) and (max-width: 87.5em) {
    .wrap {
      max-width: 1200px; } }
  @media (max-width: 74.9375em) {
    .wrap {
      padding-left: 16px;
      padding-left: 1rem;
      padding-right: 16px;
      padding-right: 1rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 225px; }

#header {
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
  box-shadow: 0 8px 13px rgba(0, 85, 106, 0.25); }
  @media (min-width: 64em) {
    #header {
      height: 155px; } }
  @media (max-width: 63.9375em) {
    #header {
      height: 134px; }
      #header .main-head {
        padding-left: 16px;
        padding-right: 16px; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 28;
  font-size: 1.75rem;
  float: left;
  height: 66px;
  background: url(../images/logo.png) 0 0 no-repeat;
  color: #375f76;
  text-align: left; }
  @media (min-width: 64em) {
    .logo {
      margin: 16px 0 22px 0; } }
  @media (min-width: 23.4375em) {
    .logo {
      letter-spacing: 13px;
      padding-top: 14px;
      padding-left: 94px; } }
  @media (max-width: 23.375em) {
    .logo {
      padding-top: 5px;
      padding-left: 84px; } }
  @media (max-width: 63.9375em) {
    .logo {
      margin: 10px 0; } }
  .logo small {
    font-size: 14;
    font-size: 0.875rem; }
    @media (min-width: 23.4375em) {
      .logo small {
        letter-spacing: 0; } }

#footer {
  background: #00556a url(../images/footerBg.gif) center 0 repeat-x;
  color: #fff;
  min-height: 225px;
  margin-top: -225px;
  z-index: 2; }
  #footer a {
    color: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }

@media (max-width: 48em) {
  .foot-info {
    display: none; } }

.foot-contact {
  color: #a5d3e0; }
  .foot-contact img {
    margin-top: -10px; }
  .foot-contact ul {
    line-height: 1.2; }
    @media (min-width: 35.5em) {
      .foot-contact ul {
        border-left: 1px solid #77A6B9;
        margin-left: 16px;
        padding-left: 8px; } }
    @media (max-width: 35.4375em) {
      .foot-contact ul {
        margin-left: 65px; } }
  @media (max-width: 35.4375em) {
    .foot-contact li {
      display: inline-block;
      margin-right: 12px; } }
  @media (max-width: 35.4375em) {
    .foot-contact h2 {
      margin-bottom: 0; } }

.foot-officer {
  margin-top: 24px;
  clear: both; }
  @media (min-width: 48em) {
    .foot-officer {
      padding-left: 18px; } }
  @media (max-width: 47.9375em) {
    .foot-officer {
      width: 100%;
      margin-top: 12px; } }
  @media (min-width: 41.6875em) {
    .foot-officer li {
      display: inline-block; }
      .foot-officer li:last-child {
        padding-left: 26px; } }
  @media (max-width: 41.625em) {
    .foot-officer li {
      margin-bottom: 8px; } }
  .foot-officer img {
    margin-right: 13px; }
    @media (max-width: 41.625em) {
      .foot-officer img {
        margin-right: 8px;
        max-width: 24px; } }

@media (min-width: 75em) {
  .copyright {
    margin-top: 36px;
    text-align: right; } }
@media (min-width: 48em) and (max-width: 74.9375em) {
  .copyright {
    margin-left: 18px; } }
.copyright a:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

#menu {
  z-index: 20;
  background: rgba(0, 85, 106, 0.8); }
  @media (max-width: 63.9375em) {
    #menu {
      height: 48px; } }
  #menu li > a {
    display: block;
    letter-spacing: 1px;
    padding: 12px 20px;
    font-size: 18px;
    font-size: 1.125rem;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    position: relative; }
    @media (min-width: 64em) and (max-width: 75em) {
      #menu li > a {
        padding: 12px; } }
    @media (max-width: 63.9375em) {
      #menu li > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05); } }
    #menu li > a:hover, #menu li > a:active, #menu li > a.current {
      background: rgba(255, 255, 255, 0.25); }
  @media (min-width: 64em) {
    #menu ul {
      letter-spacing: -0.31em;
      *letter-spacing: normal;
      *word-spacing: -0.43em;
      text-rendering: optimizespeed; } }
  @media (max-width: 63.9375em) {
    #menu ul {
      padding-left: 0;
      padding-right: 0;
      z-index: 999;
      position: fixed;
      bottom: 0;
      background: #00556a;
      -webkit-transition: left .3s;
      transition: left .3s;
      overflow-y: auto;
      width: 250px;
      left: -250px;
      text-align: left; }
      .js-mobile-body #menu ul {
        left: 0; }
      .scrolled #menu ul {
        top: 134px; } }
  @media (min-width: 64em) {
    #menu li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      z-index: 1;
      *display: inline;
      letter-spacing: normal; } }
  @media (min-width: 64em) {
    #menu li:hover .sub-nav {
      opacity: 1;
      visibility: visible; } }
  @media (max-width: 63.9375em) {
    #menu li:hover .sub-nav {
      display: block; } }
  @media (min-width: 64em) {
    #menu .sub-nav {
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      min-width: 135px;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0; } }
  @media (max-width: 63.9375em) {
    #menu .sub-nav {
      display: none;
      padding-left: 20px;
      background-color: #004556; } }
  #menu .sub-nav a {
    line-height: 1.25;
    display: block;
    position: relative;
    padding-left: 18px;
    font-size: 15px;
    font-size: 0.9375rem; }
    #menu .sub-nav a::before {
      width: 0;
      height: 0;
      border: 3.5px solid transparent;
      border-left: 3.5px solid #7bac5e;
      border-right-width: 3.5px;
      position: absolute;
      top: 14px;
      left: 8px; }
      #menu .sub-nav a::before {
        content: '';
        display: block; }
    #menu .sub-nav a:hover::before, #menu .sub-nav a:active::before, #menu .sub-nav a.current::before {
      border-left-color: #edf4f6; }
    @media (max-width: 63.9375em) {
      #menu .sub-nav a {
        color: rgba(255, 255, 255, 0.85); } }

.js-mobile-body {
  overflow-y: hidden; }

.mobile-toggle {
  display: none;
  background: none;
  position: relative;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 48px;
  background: rgba(0, 85, 106, 0.8);
  font-size: 30px;
  font-size: 1.875rem;
  position: absolute;
  top: 86px;
  left: 0; }
  @media (max-width: 63.9375em) {
    .mobile-toggle {
      display: block; } }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%; }
  .input-group[class*='col-'] {
    float: none;
    padding-left: 0;
    padding-right: 0; }
  .input-group input {
    height: 30px;
    border-radius: 0; }
    .input-group input:focus {
      position: relative;
      z-index: 3; }

.input-group-box,
.input-group-addon,
.input-group-btn {
  display: table-cell;
  vertical-align: top; }

.input-group-box {
  width: 100%; }
  .input-group-box input {
    border: 1px solid #dbe4e4; }
  .input-group-box:first-child input {
    border-right: none; }
  .input-group-box:last-child input {
    border-left: none; }

.input-group-addon,
.input-group-btn {
  padding: 0 0.5rem;
  white-space: nowrap;
  min-width: 1%;
  height: 30px !important;
  line-height: 28px;
  border: 1px solid #dbe4e4; }
  .input-group-addon:first-child,
  .input-group-btn:first-child {
    border-right: none; }
  .input-group-addon:last-child,
  .input-group-btn:last-child {
    border-left: none; }

.input-group-addon {
  color: #003441;
  background: #eaefef; }

.input-group-btn {
  background-color: #518d9d;
  font-size: 0.875rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .input-group-btn:hover, .input-group-btn:active {
    background-color: #77d5a5; }
  .input-group-btn > .btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    line-height: 30px; }

.radio-group, .checkbox-group {
  display: inline-block; }
  .radio-group:not(:last-of-type), .checkbox-group:not(:last-of-type) {
    margin-right: 0.5rem; }
  .radio-group-stacked, .checkbox-group-stacked {
    display: block; }
    .radio-group-stacked:not(:last-of-type), .checkbox-group-stacked:not(:last-of-type) {
      margin-bottom: 0.5rem; }

.btn.green {
  background-color: #1fb496; }
  .btn.green:hover, .btn.green:active {
    background-color: #41debf; }

.font-tiny, a[accesskey] {
  font-size: 0.8125em; }

.font-sm, .btn.sm {
  font-size: 0.875em; }

.font-md, .foot-officer, .copyright {
  font-size: 0.9375em; }

.font-lg, .btn.lg, .quick-nav a {
  font-size: 1.125em; }

.font-xl {
  font-size: 1.5em; }

.font-xxl {
  font-size: 2em; }

.font-xxxl {
  font-size: 3em; }

.font-jumbo {
  font-size: 4em; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 1%;
  bottom: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  font-size: 1.125em; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }
  .goTop::before {
    top: 0 !important; }

.underline {
  border-bottom: 1px solid rgba(0, 85, 106, 0.1); }

.border {
  border: 1px solid rgba(0, 85, 106, 0.1); }

.title {
  color: #457479;
  line-height: 1.2; }
  .title.underline {
    border-width: 3px;
    border-color: #008f87; }

.top-nav {
  float: right;
  text-align: left;
  margin-top: 12px; }
  .top-nav a {
    line-height: 1; }
    .top-nav a.current {
      border-radius: 8px;
      border: 1px solid #aaa; }
      .top-nav a.current:hover, .top-nav a.current:active {
        border-color: #77d5a5; }
    .top-nav a:nth-child(-n+2) {
      border-right: 1px solid #ddd;
      padding-right: 10px;
      margin-right: 10px; }
    .top-nav a:nth-last-child(-n+3) {
      padding: 2px 4px; }
  @media (max-width: 35.5em) {
    .top-nav nav {
      display: none; } }

.search-bar {
  width: 215px; }
  .search-bar input, .search-bar button {
    height: 34px;
    line-height: 34px; }
  .search-bar input {
    background-color: #C4DEE4;
    border-color: #C4DEE4; }
    .search-bar input::placeholder {
      color: #518d9d; }
  .search-bar button {
    background-color: #86A1A7;
    border-radius: 0;
    color: #fff; }
  @media (max-width: 63.9375em) {
    .search-bar {
      position: absolute;
      top: 81px;
      right: 16px; } }

a[accesskey] {
  position: absolute !important;
  left: 0; }

.quick-nav a, .case-list a {
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .quick-nav a:hover, .case-list a:hover, .quick-nav a:active, .case-list a:active {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.45);
    -ms-transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px); }

#banner {
  width: 100%;
  height: 610px;
  z-index: -1; }
  @media (min-width: 35.5625em) {
    #banner {
      top: -155px;
      margin-bottom: -155px; } }
  @media (max-width: 63.9375em) {
    #banner {
      height: 480px; } }
  @media (max-width: 48em) {
    #banner {
      height: 360px; } }
  @media (max-width: 35.5em) {
    #banner {
      height: 240px; } }
  @media (max-width: 23.4375em) {
    #banner {
      height: 200px; } }

.swiper-slide {
  background-position: center 0;
  background-repeat: no-repeat; }
  @media (max-width: 63.9375em) {
    .swiper-slide {
      background-position: center;
      background-size: cover; } }

.energy-light {
  position: absolute;
  right: 16px;
  top: 460px; }
  @media (max-width: 63.9375em) {
    .energy-light {
      top: 42%; } }
  @media (max-width: 48em) {
    .energy-light {
      display: none; } }

.main {
  padding-top: 40px;
  padding-bottom: 40px; }

@media (min-width: 64em) {
  .quick-nav {
    border-right: 1px solid #57d4d3;
    padding-right: 32px; } }
.quick-nav a {
  min-height: 120px;
  padding-top: 80px;
  background-position: center 20px;
  background-repeat: no-repeat; }
  @media (min-width: 23.4375em) {
    .quick-nav a {
      display: inline-block;
      width: 50%;
      margin-right: -4px; }
      .quick-nav a:nth-child(odd) {
        border-right: 1px solid #E8E8E8; }
      .quick-nav a:nth-child(-n+2) {
        border-bottom: 1px solid #E8E8E8; } }
  @media (max-width: 23.4375em) {
    .quick-nav a {
      display: block; }
      .quick-nav a:not(:last-child) {
        border-bottom: 1px solid #E8E8E8; } }
  .quick-nav a:nth-child(1) {
    background-image: url(../images/index/icon-n1.gif); }
  .quick-nav a:nth-child(2) {
    background-image: url(../images/index/icon-n2.gif); }
  .quick-nav a:nth-child(3) {
    background-image: url(../images/index/icon-n3.gif); }
  .quick-nav a:nth-child(4) {
    background-image: url(../images/index/icon-n4.gif); }

.news {
  padding-top: 26px; }
  .news h2 {
    line-height: 1.3; }
  @media (min-width: 48em) {
    .news header {
      width: 27.2%; }
    .news nav {
      padding-left: 32px;
      width: 70.05%; }
    .news h2 {
      margin: 30px 0 45px 0; } }
  @media (max-width: 47.9375em) {
    .news header {
      width: 100%; } }

.date {
  border-radius: 8px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s; }
  @media (max-width: 47.9375em) {
    .date {
      display: block;
      text-align: left; } }

.news-link {
  font-weight: bold;
  display: block;
  margin-bottom: 18px; }
  @media (min-width: 48em) {
    .news-link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; } }
  @media (max-width: 47.9375em) {
    .news-link {
      border-top: 1px solid rgba(0, 85, 106, 0.1);
      padding-top: 18px; } }

.info {
  background: url(../images/index/infoBg.jpg) center 0 no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 67px; }
  @media (max-width: 63.9375em) {
    .info section {
      clear: both; } }

.video-contain {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-contain iframe, .video-contain object, .video-contain embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.course-list {
  padding-left: 4.1%; }
  @media (max-width: 63.9375em) {
    .course-list {
      margin-bottom: 24px; } }
  @media (max-width: 47.9375em) {
    .course-list {
      margin-top: 24px; } }
  .course-list a {
    margin-bottom: 10px; }

.case-list a {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  height: 94px; }
  .case-list a::before, .case-list a span {
    display: inline-block;
    vertical-align: middle; }
  .case-list a::before {
    content: '';
    height: 100%; }
  @media (min-width: 48em) {
    .case-list a {
      overflow: hidden;
      width: 32.26%; }
      .case-list a:nth-child(3n + 1) {
        margin-left: 0; } }
  @media (max-width: 47.9375em) {
    .case-list a {
      width: 49.2%; }
      .case-list a:nth-child(2n + 1) {
        margin-left: 0; } }
  @media (max-width: 35.4375em) {
    .case-list a {
      width: 100%;
      height: auto;
      margin-left: 0;
      padding: 20px 16px; } }

.links {
  background: #c3dfe7;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: 0.01%;
  white-space: nowrap; }

.link {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  background: #77BCD9; }
  .link img {
    height: 100%; }
  .link span {
    display: block;
    line-height: 60px; }
  .link:hover, .link:active {
    background-color: #4dc98a; }
